.spielinfo-box {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 12px 16px;
  border-left: 4px solid #1C75AC;
}

.spielinfo-box h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.spielinfo-box h4 i {
  margin-right: 6px;
  margin-bottom: 10px;
  color: #555;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
}

.info-row i.material-icons {
    font-size: 1.2em;
    color: #555;
}


.autocomplete-input {
    width: 100%;
    padding: 6px 10px;
    font-size: 14px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.info-row {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-row i.material-icons {
    font-size: 20px;
    color: #555;
}

.btn {
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 4px;
}

#btn-referee-bearbeiten,
#btn-stadion-bearbeiten {
    margin-left: 0;
    width: 100%;
    font-size: 13px;
}
.highlights-box {
    padding: 10px; /* Innenabstand */
    margin: auto; /* Außenabstand */
    background-color: white; /* Hintergrundfarbe */
    max-width: 640px;
    text-align: center;
}

.highlights-header {
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: rgb(132, 140, 156);
    background: white;
    margin: -0.75rem auto auto;
    padding: 0px 0.5rem;
}

.highlights-content {
    font-size: 14px;
    line-height: 1.6;
}

.heim {
	font-size: 0.75rem;
	font-weight: 400;
	color: rgb(97, 102, 114);
	width: 5%;
}

.auswaerts {
	font-size: 0.75rem;
	font-weight: 400;
	color: rgb(97, 102, 114);
	width: 5%;
}

.minute {
	font-size: 0.75rem;
	font-weight: 400;
	color: rgb(97, 102, 114);
	width: 10%;
}

.auswaertsname {
	font-size: 0.75rem;
	font-weight: 400;
	color: rgb(97, 102, 114);
	width: 35% !important;
	text-align: left;
}
.heimname {
	font-size: 0.75rem;
	font-weight: 400;
	color: rgb(97, 102, 114);
	width: 35%;
	text-align: right;
}

.highlight-row{
	display: flex;
	justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
    gap: 10px; /* Abstand zwischen den Elementen */
    padding: 5px 0; /* Vertikaler Abstand zwischen den Reihen */
}

.material-icons {
	position: relative !important;
	top: 7px !important;
	padding-right: 5px !important;
	color: #1C75AC;
}

.highlight-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.highlight-entry {
    padding: 6px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggestion-item {
	text-align: left;
}

.suggestion-item.active, .suggestion-item:hover {
    background-color: #1C75AC;
    color: white;
}

.aufstellung-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.aufstellung-column {
    flex: 1 1 300px; /* wächst bis max, min 300px */
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 9px 9px 5px rgba(0,0,0,0.1);
    height: 100%;
}

.widget-column {
    flex: 1 1 640px; /* wächst bis max, min 300px */
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 9px 9px 5px rgba(0,0,0,0.1);
    margin: auto;
}

@media (max-width: 768px) {
    .aufstellung-column {
        flex: 1 1 100%;
    }
}

 .action-count-circle {
     display: inline-block;
     min-width: 11px;
     height: 11px;
     line-height: 11px;
     border-radius: 50%;
     background-color: #1c75ac;
     color: white;
     font-size: 6px;
     font-weight: bold;
     text-align: center;
     vertical-align: middle;
     margin-left: -5px;
     padding: 0 4px;
     margin-top: -10px;
 }
